<!DOCTYPE html>
<html>
  <head>
    <title>映画作品リスト</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header id="header">
      <%= render 'shared/header' %>
    </header>

    <nav id="sidebar">
      <%= render 'shared/sidebar' %>
    </nav>
    <main id="main-content">
      <%= yield %>
    </main>
  </body>
</html>
